<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="homework">
    <test name="newhomework">
        <classes>
            <class name="homeworks.newhomework"/>
        </classes>
    </test>
<test name="homework">
    <classes>
        <class name="homeworks.testcase1"/>
    </classes>

</test>


</suite>
